@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Habibi);
* {margin:0;padding:0;box-sizing:border-box;}
body {
  background:url('images/pond1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Habibi', courier, monospace;
  font-weight: light;
  font-size: 20px;
  margin: 1.5em;
  text-align: center;
}
#logo {
  max-width: 75%;
  max-height: 75%;
}
hr {
  text-align: center;
  max-width: 75%;
}
p {
  max-width: 50%;
  line-height: 1.5em;
  text-align: center;
}
#slogan {
  font-size: 2.5em;
  font-family: "Arvo", serif;
  font-weight: 400;
  max-width: 90%;
  text-align: center;
}
#disclaimer {
  font-size: .5em;
  font-family: "Courier New", monospace;
  text-align: center;
}
