body {
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  font-size:18px;
  margin:0;
  padding:0;
  height:100%;
}
.wrapper {
	height: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin: 0 auto -2em;
}
.header {
	background:rgba(0,0,0,.2);
	padding:10px;
}
.content {
  font-size:3.0em;
  font-family:"courier new", "courier", monospace;
  font-style:bold;
  padding:10px;
  padding-bottom:50px;
  text-align:center;
}
.after-content {
	clear:both;
}
.footer {
	width:100%;
	height:2em;
	position:absolute;
	padding:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,.5);
	color:#ffffff;
  	text-align:right;
  	font-family: "courier-new", "courier", monospace;
}
a.white:link {
	color: #ffffff;
}
a.white:hover {
	color:red;
}
#logo {
  width:100px;
}
#title {
  width: 60%
}
